<div class="container login-form">
  <div style="text-align:center">
    <h1 class="title">
      <span><i class="fab fa-angular"></i></span>Redux
    </h1>
  </div>
  <form class="form-signin">
    <div *ngIf="error !== ''" class="alert alert-danger" role="alert">
      ¡{{error}} <span><i class="fas fa-frown"></i></span>!
    </div>
    <div *ngIf="!isLoading">
      <button *ngIf="!user?.uid" class="btn btn-lg btn-dark btn-block" type="button" (click)="signIn()">Sign in
        <i class="fas fa-sign-in-alt"></i>
      </button>
      <button *ngIf="user?.uid" class="btn btn-lg btn-dark btn-block" type="button" (click)="logOut()">Log out
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
    <div *ngIf="isLoading">
      <button class="btn btn-lg btn-block btn-dark" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  </form>

</div>
