<div>
  <form [formGroup]="userForm" (ngSubmit)="login()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Log in</h1>
    <div class="input-group mb-3 flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="user-icon">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <input type="text" formControlName="username" class="form-control" placeholder="Example: user1234"
        aria-describedby="user-icon">
    </div>

    <div class="input-group mb-3 flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="user-email">
          <i class="fas fa-at"></i>
        </span>
      </div>
      <input type="email" formControlName="email" class="form-control" placeholder="Example: email@dominio.com"
        aria-describedby="user-email">
    </div>

    <div class="input-group mb-3 flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="user-pwd">
          <i class="fas fa-key"></i>
        </span>
      </div>
      <input type="password" formControlName="password" class="form-control" placeholder="Example: a1234567"
        aria-describedby="user-pwd">
    </div>

    <button [disabled]="!userForm.valid" class="btn btn-lg btn-dark btn-block" type="submit">Sign in
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </form>
</div>